<div class="assigned">
  <ul><% @guests.each do |guest| %>
    <li><%= guest.first_name %> <%= guest.last_name %></li>
    <% guest.tasks.each do |task| %>
      <li><%= task.description %></li><br>
    <% end %>
  <%end%></ul>
</div>
