<form action='/tasks' method="post">
  <input type="text" name="task[description]" placeholder="Task"><br>
  <input type="text" name="guest[name]" placeholder="Cleaner"><br>
  <input type="submit" value="Assign Task">
</form>
