<h1>Assign a Task</h1>

<form action="/<%= @cleaning.id %>/tasks" method="post">
  <input type="text" name="task[description]" placeholder="Task"><br>
  <input type="text" name="guest[first_name]" placeholder="Cleaner's First Name"><br>
  <input type="text" name="guest[last_name]" placeholder="Cleaner's Last Name"></br>
  <input type="submit" value="Assign Task">
</form>

<!-- button to stop assigning tasks -->
<!-- <form action="/users/#{session[:id]}" method='get'> -->
