<h1>Assign a Task</h1>

<!-- fix issue with all tasks gone when refresh IF TIME -->
<div class="assigned">
</div>

<div class="assign-task">
  <form action="/<%= @cleaning.id %>/tasks" method="post" class="task-form">
    <input type="text" name="task[description]" placeholder="Task"><br>
    <input type="text" name="guest[first_name]" placeholder="Cleaner's First Name"><br>
    <input type="text" name="guest[last_name]" placeholder="Cleaner's Last Name"></br>
    <input type="text" name="guest[number]" placeholder="Cleaner's # Number"><br>
    <input type="submit" value="Assign Task">
  </form>
</div>

<form action="/cleanings/<%= @cleaning.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Send Messages">
</form>
<br>
