#work-party {
  display: inline;
  font-family: 'Times New Roman';
  background-color: #00ccff;
  padding: 1% 1% 1% 1%;
}

#description {
  padding: 1% 1% 1% 1%;
  background-color: #00ccff;
}

body {
  font-family: 'Arial';
  background-color: lightblue;
  border-color: blue;
  border-style: solid;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-right: 3%;
  padding-top: 2%;
}
