#home {
  padding: 1% 1% 1% 1%;
  background-color: #00ccff;
  margin-right: 20%;
  border-style: solid;
}

#work-party {
  display: inline;
  font-family: 'Times New Roman';
}

#disclaimer {
/*  border-style: solid;*/
/*  background-color: #00ccff;*/
}

body {
  font-family: 'Arial';
  background-color: lightblue;
  border-color: blue;
  border-style: solid;
  margin-right: 10%;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-right: 3%;
  padding-top: 2%;
}
