<h1>Welcome, <%= @user.username %>.</h1>


<p>Start a new work party</p>
<form action='/cleanings' method="post">
  <input type="text" name="cleaning[location]" placeholder="Where?"><br>
  <input type="text" name="cleaning[start_time]" placeholder="When?"><br>
  <input type="submit" value="Make Work Party">
</form>

<form action='/sessions/:id' method="post">
  <input type="hidden" name="_method", value="delete"><br>
  <input type="submit" value="Log Out">
</form>
