<h1 id="work-party">Work Party</h1>

<div id="description">
  <p>Tired of your friends trashing the place every time they come over?</p>
  <p>Tired of cleaning up by yourself the next day?</p>
  <p>With Work Party, you can send texts to your guests asking <b>them</b> to clean up the mess <b>they</b> made!</p>
</div>
<br>
<form action="/sessions/new" method='get'>
  <input type="submit" value="Login">
</form>

<form action="/users/new" method='get'>
  <input type="submit" value="Register">
</form>

<h6>Copyright 2017 Work Party Inc. Work Party is not responsible for lost friendships as a result of user's passive-aggressive tendencies and unwillingness to resolve conflict face-to-face.</h6>
