<h1>Work Party</h1>

<p>Tired of your friends trashing the place every time they come over?</p>
<p>Tired of cleaning up by yourself the next day?</p>
<p>Work Party lets you assign a cleaning task to a person in your phone. Once you're done assigning everyone a task, it'll send out text messages to each person, asking <b>them</b> to clean up the mess <b>they</b> made!</p>
